# .emacs.d stuff
.emacs.d/.cache
.emacs.d/.saves
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/*.dat
.emacs.d/places
.emacs.d/.dap-breakpoints
.emacs.d/logview-cache.extmap
.emacs.d/src/sane-defaults.el
.emacs.d/transient/

# Fish stuff
fish_prompt.fish
fish_variables

