# .emacs.d stuff
.emacs.d/.cache
.emacs.d/.saves
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/elpa
.emacs.d/*.dat
.emacs.d/places
.emacs.d/.dap-breakpoints
.emacs.d/ghpkg
.emacs.d/logview-cache.extmap
.emacs.d/transient/
.emacs.d/session.*
.emacs.d/straight
.emacs.d/emojis
.emacs.d/racket-mode

# Fish stuff
fish_prompt.fish
fish_variables

# Clojure
.clojure/.cpcache
