$bg-dark  : #21252B;
$bg-light : #282C34;
$fg-light : #ABB2BF;
$fg-dark  : #DFDFDF;
$red      : #EB6E67;
$orange   : #F8C456;
$green    : #95EE8F;
$cyan     : #6CDCF7;
$blue     : #6EAAFB;
$purple   : #D886F3;

* { all:unset; }

.red { color: $red; }
.orange { color: $orange; }
.green { color: $green; }
.cyan { color: $cyan; }
.blue { color: $blue; }
.purple { color: $purple; }

window {
  color: $fg-light;
  font-family: Iosevka;
  font-size: 1.25rem;
  background-color: $bg-dark;
}

.text {
  font-family: 'Ubuntu';
}

.header {
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  color: $blue;
}

image { margin-right: 10px; }

.hr {
  border: 1px solid $blue;
  margin: 20px 0;
}

.workspaces {
  padding-left: 10px;
  button {
    padding: 10px;
  }

  .ws1 {
    background-color: $green;
    color: $bg-dark;
  }
  .ws2 {
    background-color: $cyan;
    color: $bg-dark;
  }
}

progressbar {
  margin-left: 10px;
  margin-right: 20px;

  trough {
    background-color: $bg-dark;
    min-height: 3px;
    min-width: 50px;

    progress {
      background-color: $red;
      border-radius: 10px;
      min-height: 3px;
    }
  }
}

scale {
  margin-left: 10px;
  margin-right: 20px;

  trough {
    background-color: $bg-dark;
    min-height: 3px;
    min-width: 50px;

    highlight {
      background-color: $orange;
      border-radius: 10px;
      min-height: 3px;
    }

  }
}

.sidebar {
  font-family: 'Ubuntu';
  font-size: 1.25rem;

  .monitor, .control { font-size: 1.5rem; }

  progressbar, scale {
    trough {
      min-height: 5px;
      min-width: 250px;

      progress {
        min-height: 5px;
      }
    }
  }
  
  .section {
    background-color: $bg-light;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
  }

  .calendar {
    calendar {
      grid {
        background-color: $bg-light;
      }
    }
  }

  .session {
    button {
      font-family: Iosevka;
      font-size: 3rem;
      margin: 20px;
    }
  }
}
