body {
	font-family: "Noto Sans";
	width: 60%;
	margin: auto;
	background: #282C34;
	color: #abb2bf;
}

#postamble {
		margin-top: 30px;
		border-top: thick solid #343843;
		padding: 30px 0;
}

.small {font-size: 0.8rem}
h1 + div > .small p { margin-top: 0 }
h2 + div > .small p { margin-top: 0 }
h3 + div > .small p { margin-top: 0 }
h4 + div > .small p { margin-top: 0 }
h5 + div > .small p { margin-top: 0 }

a { color: #61afef; }
h1 { color: #61afef; }
h2 { color: #56b6c2; }
h3 { color: #98c379; margin-bottom: 5px; }
h4 { color: #d19a66; }
h5 { color: #e06c75; }
h6 { color: #c678dd; }
h1 a { color: #61afef; }
h2 a { color: #56b6c2; }
h3 a { color: #98c379; }
h4 a { color: #d19a66; }
h5 a { color: #e06c75; }
h6 a { color: #c678dd; }

p.author {}

p.date {}

p.creator {}

.title { color: #61afef; }

.subtitle {}

.todo {}

.done {}

.WAITING {}

.timestamp {}

.timestamp-kwd {}

.timestamp-wrapper {}

.tag {}

._HOME {}

.target {}

.linenr {}

.code-highlighted {}

div.outline-N {}

div.outline-text-N {}

.section-number-N {}

.figure-number {}

.table-number {}

.listing-number {}

div.figure {}

pre.src {
	border: none;
	border-top: 12px solid #343843;
	border-bottom: 12px solid #343843;
	box-shadow: none;
	font-size: 1.2rem;
	padding: 1rem;
	margin-left: 0;
}

code {
	font-size: 1rem;
	color: #d19a66;
}

pre.example {}

p.verse {}

div.footnotes {}

p.footnote {}

.footref {}

.footnum {}

.org-svg {}
